<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    {% include 'cdnlines.html' %}
    <title></title>
</head>
<body>
    {% include 'nav.html' %}
    <h1 class="text-center display-4 font-weight-italic">SHOPSY ONLINE SITE</h1>
    {% block content %}

    {% endblock %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <center><h1>ABOUT:</h1><p><b>Shopsy is a trusted network that gives sellers an opportunity to grow their business. As a seller, you can reach over 500 million customers worldwide. You also get access to a ready logistics network. In addition, you have access to select insights about pricing and customer demand, to help you grow your business.</b></p></center>

        </div>
        <div class="col-md-4">
            <center><h1>EMAIL:</h1></center><p><center>shopsy@gmail.com</center></p>
        </div>
        <div class="col-md-4">
            <center><h1>MAP:</h1></center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30441.84888921888!2d78.30861331122597!3d17.496477718701946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb92f20bda6a8b%3A0x3411a04587f71c0c!2sChanda%20Nagar%2C%20Hyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1693396449745!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</body>
</html>