{% extends 'base.html'}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    {% include 'cdnlines.html' %}
    <title></title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
                <center>
                    <input type="submit" value="buy now" class="btn btn-success">
                    <input type="reset" value="cancel" class="btn btn-danger">
                </center>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
                <center>
                    <input type="submit" value="buy now" class="btn btn-success">
                    <input type="reset" value="cancel" class="btn btn-danger">
                </center>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
                <center>
                    <input type="submit" value="buy now" class="btn btn-success">
                    <input type="reset" value="cancel" class="btn btn-danger">
                </center>
            </div>

        </div>
<div class="row">
    <div class="col-md-4">
        <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
        <center>
            <input type="submit" value="buy now" class="btn btn-success">
            <input type="reset" value="cancel" class="btn btn-danger">
        </center>
    </div>
    <div class="col-md-4">
        <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
        <center>
            <input type="submit" value="buy now" class="btn btn-success">
            <input type="reset" value="cancel" class="btn btn-danger">
        </center>
    </div>
    <div class="col-md-4">
        <img src="{% static 'images/1.jpg' %}" style="height:100%, width:100%" class="img-thumbnail">
        <center>
            <input type="submit" value="buy now" class="btn btn-success">
            <input type="reset" value="cancel" class="btn btn-danger">
        </center>
    </div>
</div>
    </div>
    {% endblock %}
</body>
</html>